div(
  class=serverActive ? 'server active' : 'server'
  hx-get=!serverActive && `/change-active-server/${id}`
  hx-select-oob=!serverActive && "#serverSelector,#guildNameBanner"
  data-tippy-content=serverName
  data-tippy-placement='right'
)
  input(type='hidden' name='item' value=id)
  if serverImage
    img.serverIcon(src=serverImage, class=serverUnread && 'unread')
  else
    p.serverIcon(class=serverUnread && 'unread') !{serverTrunc}