.channelViewHeader
  span
    | Chat
  svg(
    viewBox="0 0 24 24"
    focusable="false"
    role="img"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
    data-tippy-content='Add Channel'
  )
    path(fill="none" d="M0 0h24v24H0z")
    path(d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z")

include channelBox.pug
include channelBox.pug
include channelBox.pug
include channelBox.pug
include channelBox.pug