
div.settingsIcon#settingsToggle(
  aria-label='Close settings'
  data-cooltipz-dir='top'
  hx-get='/toggle-settings/close',
  hx-swap-oob="outerHTML",
  hx-select-oob='#sidebarToggle:outerHTML,#guildNameBanner:outerHTML'
)
  svg(
    aria-hidden="false"
    viewBox="0 0 24 24",
    fill="none",
    stroke-width="1.5",
    stroke="currentColor",
    class="size-6",
    xmlns="http://www.w3.org/2000/svg",
  )
    path(stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12")