include settingsChannelsHeader

.settingsChannelContainer
  -
    var settingsChannels = [
      
      { name: 'General', type: 'configuration' },
      { name: 'Bot Configuration', type: 'discordBot' },
      { name: 'App State', type: 'state' },
      { name: 'User Settings', type: 'user' },
      { name: 'Server Settings', type: 'discordServer' },
      { name: 'Channel Settings', type: 'discordChannel' },
    ];

  each channel in settingsChannels
    .channelViewOption(
      hx-get=`/modal/settings/${channel.type}`
      hx-target="#modals-here"
      hx-trigger="click"
      data-bs-toggle="modal"
      data-bs-target="#modals-here"
    )
      .channelViewOptionInfo
        include settingsChannelHashIcon
        span= channel.name