svg.guildSelectorDropdown.sidebarSettingsToggle#sidebarToggle(
  viewBox="0 0 24 24",
  aria-hidden="true",
  focusable="false",
  fill="none",
  stroke-width="1.5",
  stroke="currentColor",
  class="size-6",
  xmlns="http://www.w3.org/2000/svg",
  hx-get="/toggle-settings/close",
  hx-select-oob="#sidebarToggle:outerHTML",
)
  path(stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12")


