div.nav
  div.guildSettings
    div.navGuild
      div.guildOpener
        div.navGuildItems

          include serverBanner

          // Exp arrow next to server name, dynamically generates server details
          svg.guildSelectorDropdown(
            viewBox="0 0 24 24",
            aria-hidden="true",
            focusable="false",
            fill="currentColor",
            xmlns="http://www.w3.org/2000/svg",
            hx-get="/toggle-sidebar",
            hx-select-oob="#serverSideBar:outerHTML"
          )
            path(d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z")
            path(fill="none" d="M0 0h24v24H0z")