div(
  class=serverActive ? 'server active' : 'server',
  hx-get=!serverActive && `/change-active-server/${id}`,
  hx-target=!serverActive && "#serverSelector",
  hx-swap=!serverActive && "outerHTML"
)
  if serverImage
    img.serverIcon(src=serverImage, class=serverUnread && 'unread')
  else
    p.serverIcon(class=serverUnread && 'unread') !{serverTrunc}