h4.guildSelectorName#guildNameBanner(
  hx-select-oob='#guildNameBanner'
  hx-swap-oob='outerHTML'
)
  if (servers && (servers.activeServer && servers.activeServer.server_name))
    - var serverName=servers.activeServer.server_name
    if (serverName.length > 21)
      | !{serverName.substr(0, 21) + '...'}
    else
      | !{serverName}
  else if (settingsToggled)
    | Settings