div(
  class=`${serverActive ? 'server active' : 'server'}`
  hx-get=!serverActive && `/change-active-server/${id}`
  hx-select-oob=!serverActive && "#serverSelector,#guildNameBanner"
  aria-label=serverName
  data-cooltipz-dir='right'
)
  input(type='hidden' name='item' value=id)

  if serverImage
    include serverIconImg

  else
    include serverIconNoImg
